*.pyc
*.so
*__pycache__*
*~
*.swp
*.ipynb_checkpoints*
*.docx
*.xlsx
*.xls
*.ipynb_checkpoints
syllabus/computational.pdf
/compclass/*

/classes/week2/
/classes/week3/
/classes/week4/
/classes/week5/
/classes/week6/
/classes/week7/
/classes/week8/
/classes/week9/
/classes/week10/
/classes/week11/
/classes/week12/
/classes/week13/
/classes/week14/

/problems/*

/images/*